In [22]:
import os
from glob import glob
from os import chdir
import pandas as pd

In [23]:
csv_file_path = 'c:/Users/jgj81/Desktop/Homework/female_participation_in_leadership/Resources/States_Data'
chdir(csv_file_path)

In [24]:
file_pattern = "csv"
all_filenames = [file for file in glob('*.{}'.format(file_pattern))]
print(all_filenames)

['2010_census.csv', '2011_census.csv', '2012_census.csv', '2013_census.csv', '2014_census.csv', '2015_census.csv', '2016_census.csv', '2017_census.csv', '2018_census.csv', '2019_census.csv']

In [25]:
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "merged_states.csv", index=False, encoding='utf-8-sig')

In [26]:
states_data = pd.read_csv('c:/Users/jgj81/Desktop/Homework/female_participation_in_leadership/Resources/States_Data/merged_states.csv')

states_data

,Year,Label,US_Total,US_Male_Percent,US_Female_Percent,US_Total_Median_Earnings,US_Median_Earnings_Male,US_Median_Earnings_Female,US_Total_Earnings_Male,US_Total_Earnings_Female,US_Total_Median_Earnings
0,2010,Civilian employed population 16 years and over,"139,033,928",52.10%,47.90%,"31,728","37,464","26,864",0,0,NaN
1,2010,"Management, business, science, and arts occupa...","49,975,620",47.50%,52.50%,"51,209","62,270","43,438",0,0,NaN
2,2010,"Management, business, and financial occupa...","19,970,732",55.80%,44.20%,"57,143","67,087","48,575",0,0,NaN
3,2010,Management occupations,"13,446,602",60.90%,39.10%,"61,017","70,268","50,546",0,0,NaN
4,2010,Business and financial operations occu...,"6,524,130",45.10%,54.90%,"51,729","61,882","46,262",0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
355,2019,"Installation, maintenance, and repair ...","4,862,879",95.90%,4.10%,0,0,0,"4,663,345","199,534",NaN
356,2019,"Production, transportation, and material m...","21,001,720",75.70%,24.30%,0,0,0,"15,889,851","5,111,869",NaN
357,2019,Production occupations,"8,871,933",70.60%,29.40%,0,0,0,"6,259,878","2,612,055",NaN
358,2019,Transportation occupations,"6,260,219",84.90%,15.10%,0,0,0,"5,317,943","942,276",NaN
359,2019,Material moving occupations,"5,869,568",73.50%,26.50%,0,0,0,"4,312,030","1,557,538",NaN